In [2]:
import catboost as cb
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings('ignore')

In [3]:
# generate a synthetic binary classification dataset

X, y = make_classification(n_samples=1000,n_features=10,random_state=42)

In [7]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=42)

In [8]:
model = cb.CatBoostClassifier(iterations=100, learning_rate=0.1, depth=6, loss_function='Logloss')

In [9]:
model.fit(x_train,y_train, verbose=False)

In [10]:
y_pred = model.predict(x_test)

In [12]:
print(accuracy_score(y_test,y_pred))

0.885

In [13]:
import numpy as np
import pandas as pd
import seaborn as sns

In [14]:
df = sns.load_dataset('tips')

In [15]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.3 KB

In [17]:
X = df.iloc[:,1:]
y = df.iloc[:,0]

In [18]:
X

      tip     sex smoker   day    time  size
0    1.01  Female     No   Sun  Dinner     2
1    1.66    Male     No   Sun  Dinner     3
2    3.50    Male     No   Sun  Dinner     3
3    3.31    Male     No   Sun  Dinner     2
4    3.61  Female     No   Sun  Dinner     4
..    ...     ...    ...   ...     ...   ...
239  5.92    Male     No   Sat  Dinner     3
240  2.00  Female    Yes   Sat  Dinner     2
241  2.00    Male    Yes   Sat  Dinner     2
242  1.75    Male     No   Sat  Dinner     2
243  3.00  Female     No  Thur  Dinner     2

[244 rows x 6 columns]

In [19]:
y

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [20]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=42)

In [23]:
model = cb.CatBoostRegressor(iterations=100, learning_rate=0.1, depth=6, loss_function='RMSE')

In [24]:
model.fit(x_train, y_train)

CatBoostError: features data: pandas.DataFrame column 'sex' has dtype 'category' but is not in  cat_features list